.git*
docs/
examples/
support/
test/
output/

test.js
testing.js
.travis.yml
.DS_Store
.github
docs
coverage.html
lib-cov

*DS_Store*
.env
.env.example
.codeclimate.yml
.prettierrc
tslint.json

test.js
jest.config.js
yarn-error.log
coverage/
__tests__/

.vscode
